Repository mikelane/dioxide: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, pytest-cov

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=120]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pytest>=8.0]
        args: [--python-version=3.11]
        exclude: ^features/

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings, -A, non-local-definitions]

      - id: pytest-cov
        name: pytest with coverage
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        args: [tests/, --cov=dioxide, --cov-fail-under=95, --cov-branch, -q]

build: add documentation and changelog URLs to project metadata
  pyproject.toml
Due: none

feat: add scope parameter to @adapter.for_() (#170)
  python/dioxide/adapter.py
  tests/test_adapter_scope.py
Due: pytest-cov

docs: document fresh container per test pattern (#168)
  README.md
  examples/fastapi/tests/conftest.py
Due: pytest-cov

feat: implement container.reset() method (#169)
  python/dioxide/_dioxide_core.pyi
  python/dioxide/container.py
  rust/src/lib.rs
  tests/test_container_reset.py
Due: cargo-fmt, cargo-clippy, pytest-cov

docs: document constructor dependency injection for adapters (#172)
  README.md
  examples/fastapi/README.md
  examples/fastapi/app/adapters/config.py
  examples/fastapi/app/adapters/logging_email.py
  examples/fastapi/app/adapters/postgres.py
  examples/fastapi/app/adapters/sendgrid.py
  examples/fastapi/app/domain/ports.py
Due: pytest-cov

fix: address PR review feedback for #174
  README.md
Due: none

fix: address PR review feedback for #175
  tests/test_container_reset.py
Due: pytest-cov

fix: address PR review feedback for #176
  README.md
Due: none

feat: add scope parameter to @adapter.for_() (#173)
  python/dioxide/adapter.py
  tests/test_adapter_scope.py
Due: pytest-cov

docs: document fresh container per test pattern (#174)
  README.md
  examples/fastapi/tests/conftest.py
Due: pytest-cov

feat: implement container.reset() method (#175)
  python/dioxide/_dioxide_core.pyi
  python/dioxide/container.py
  rust/src/lib.rs
  tests/test_container_reset.py
Due: cargo-fmt, cargo-clippy, pytest-cov

docs: document constructor dependency injection for adapters (#176)
  README.md
  examples/fastapi/README.md
  examples/fastapi/app/adapters/config.py
  examples/fastapi/app/adapters/logging_email.py
  examples/fastapi/app/adapters/postgres.py
  examples/fastapi/app/adapters/sendgrid.py
  examples/fastapi/app/domain/ports.py
Due: pytest-cov

feat: add dioxide.testing module with fresh_container helper (#171)
  python/dioxide/__init__.py
  python/dioxide/testing.py
  tests/test_testing_module.py
Due: pytest-cov

fix: address PR review feedback for #177
  python/dioxide/testing.pyi
  tests/test_testing_module.py
Due: pytest-cov

feat: add dioxide.testing module with fresh_container helper (#177)
  python/dioxide/__init__.py
  python/dioxide/testing.py
  python/dioxide/testing.pyi
  tests/test_testing_module.py
Due: pytest-cov

docs: add prominent documentation links and update for new test ergonomics features
  README.md
Due: none

chore(release): 0.2.0
  CHANGELOG.md
  Cargo.toml
Due: none

chore(release): 0.2.1
  CHANGELOG.md
  Cargo.toml
Due: none

fix: remove Test PyPI step to prevent version burn (#178)
  .github/workflows/release-automated.yml
Due: none

fix: use pypa/gh-action-pypi-publish instead of maturin upload
  .github/workflows/release-automated.yml
Due: none

docs: add migration guide from dependency-injector (#185)
  docs/index.rst
  docs/migration-from-dependency-injector.rst
Due: none

chore: ignore strategic-roadmap.md (internal planning doc)
  .gitignore
Due: none

feat: add Scope.REQUEST enum value (#179)
  python/dioxide/scope.py
  tests/test_adapter_scope.py
Due: pytest-cov

feat: add warning for empty profile matches in container.scan() (#87)
  python/dioxide/container.py
  tests/test_empty_profile_warning.py
Due: pytest-cov

chore: switch from python-semantic-release to commitizen
  .github/workflows/release-automated.yml
  .gitignore
  pyproject.toml
  uv.lock
Due: none

feat: add Scope.REQUEST enum value (#190)
  python/dioxide/scope.py
  tests/test_adapter_scope.py
Due: pytest-cov

feat: add warning for empty profile matches in container.scan() (#191)
  python/dioxide/container.py
  tests/test_empty_profile_warning.py
Due: pytest-cov

bump: version 0.2.1 → 0.3.0
  CHANGELOG.md
  Cargo.toml
Due: none

fix: strip trailing data from wheels immediately after build
  .github/workflows/release-automated.yml
Due: none

fix: strip trailing data in validate-wheels job after download
  .github/workflows/release-automated.yml
Due: none

fix: add pytest-asyncio to test-wheels dependencies
  .github/workflows/release-automated.yml
Due: none

fix: add pytest-benchmark to test-wheels dependencies
  .github/workflows/release-automated.yml
Due: none

fix: use windows-2022 instead of windows-latest
  .github/workflows/release-automated.yml
Due: none

fix: remove pre-validation stripping, warn on trailing data instead
  .github/workflows/release-automated.yml
Due: none

fix: build Windows wheel only once (abi3 works for all Python versions)
  .github/workflows/release-automated.yml
Due: none

bump: version 0.3.0 → 0.3.1
  Cargo.toml
Due: none

fix: strip wheel trailing data at build time (#194)
  .github/workflows/release-automated.yml
Due: none

feat: add pre-release changelog validation (#196)
  .github/workflows/release-automated.yml
Due: none

fix: publish to PyPI before creating GitHub Release (#193)
  .github/workflows/release-automated.yml
Due: none

fix: sync release test dependencies with CI (#192)
  .github/workflows/release-automated.yml
Due: none
