Repository mikelane/dioxide: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, pytest-cov

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=120]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pytest>=8.0]
        args: [--python-version=3.11]
        exclude: ^features/

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings, -A, non-local-definitions]

      - id: pytest-cov
        name: pytest with coverage
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        args: [tests/, --cov=dioxide, --cov-fail-under=95, --cov-branch, -q]

docs: position Profiles as first-class architectural concept (#295)
  docs/user_guide/hexagonal_architecture.md
Due: none

docs: enhance migration-from-mocks narrative arc (#296)
  docs/migration-from-mocks.md
Due: none

docs: position Profiles as first-class architectural concept (#300)
  docs/user_guide/hexagonal_architecture.md
Due: none

docs: enhance migration-from-mocks narrative arc (#301)
  docs/migration-from-mocks.md
Due: none

docs: add cross-references to TESTING_GUIDE.md (#293)
  docs/TESTING_GUIDE.md
Due: none

docs: add cross-references to migration-from-mocks.md (#294)
  docs/migration-from-mocks.md
Due: none

docs: Add cross-references to TESTING_GUIDE.md (#302)
  docs/TESTING_GUIDE.md
Due: none

docs: Add cross-references to migration-from-mocks.md (#303)
  docs/migration-from-mocks.md
Due: none

docs: create philosophy essay explaining why dioxide exists (#297)
  docs/index.md
  docs/philosophy.md
Due: none

docs: Create philosophy essay explaining why dioxide exists (#305)
  docs/index.md
  docs/philosophy.md
Due: none

fix: synchronize version to 1.0.1 (#304)
  python/dioxide/__init__.py
Due: pytest-cov

fix: Synchronize version to 1.0.1 (#306)
  python/dioxide/__init__.py
Due: pytest-cov

docs: add GitHub Sponsors funding link
  .github/FUNDING.yml
  README.md
Due: none

feat: add multi-binding support for plugin patterns (#255)
  README.md
  python/dioxide/adapter.py
  python/dioxide/container.py
  tests/test_multi_binding.py
Due: pytest-cov

fix: add pyright ignore comments for dynamic decorator attributes (#255)
  tests/test_multi_binding.py
Due: pytest-cov

feat: Add multi-binding support for plugin patterns (#308)
  README.md
  python/dioxide/adapter.py
  python/dioxide/container.py
  tests/test_multi_binding.py
Due: pytest-cov

chore: release v1.1.0
  CHANGELOG.md
  Cargo.toml
Due: none

ci: skip check-wheel-contents temporarily
  .github/workflows/release-automated.yml
Due: none

chore: bump to v1.1.1 (v1.1.0 burned on PyPI)
  CHANGELOG.md
  Cargo.toml
Due: none

chore: bump to v1.1.2 (v1.1.0 and v1.1.1 burned on PyPI)
  CHANGELOG.md
  Cargo.toml
Due: none

feat: Add pytest fixtures for testing (#317)
  python/dioxide/testing.py
  tests/test_testing_fixtures.py
Due: pytest-cov

feat: implement terse error messages (1-3 lines max) (#312)
  python/dioxide/container.py
  tests/test_descriptive_errors.py
  tests/test_scoped_container.py
  tests/test_terse_errors.py
Due: pytest-cov

test: Add comprehensive benchmark suite for Rust backend justification (#318)
  tests/benchmarks/test_performance_comprehensive.py
Due: pytest-cov

feat: Terse error messages (1-3 lines max) (#323)
  python/dioxide/container.py
  tests/test_descriptive_errors.py
  tests/test_scoped_container.py
  tests/test_terse_errors.py
Due: pytest-cov

test: Add comprehensive benchmark suite for Rust backend (#325)
  tests/benchmarks/test_performance_comprehensive.py
Due: pytest-cov

fix: address PR review feedback (#317)
  python/dioxide/testing.py
Due: pytest-cov

feat: Add pytest fixtures for testing (#324)
  python/dioxide/testing.py
  tests/test_testing_fixtures.py
Due: pytest-cov

docs: Add @service vs @adapter decision tree and mental model (#314)
  README.md
  docs/index.md
  docs/user_guide/services-vs-adapters.md
  python/dioxide/adapter.py
  python/dioxide/services.py
Due: pytest-cov

feat: Add container introspection API for debugging (#316)
  python/dioxide/_dioxide_core.pyi
  python/dioxide/container.py
  rust/src/lib.rs
  tests/test_introspection.py
Due: cargo-fmt, cargo-clippy, pytest-cov

docs: Add @service vs @adapter decision tree and mental model (#326)
  README.md
  docs/index.md
  docs/user_guide/services-vs-adapters.md
  python/dioxide/adapter.py
  python/dioxide/services.py
Due: pytest-cov

feat: Add container introspection API for debugging (#327)
  python/dioxide/_dioxide_core.pyi
  python/dioxide/container.py
  rust/src/lib.rs
  tests/test_introspection.py
Due: cargo-fmt, cargo-clippy, pytest-cov

test: Add scope tests for @service decorator (#315)
  python/dioxide/services.py
  tests/test_service.py
Due: pytest-cov

docs: Clarify global vs instance container usage (#313)
  README.md
  docs/api/dioxide/container/index.rst
  docs/api/dioxide/testing/index.rst
  docs/index.md
  docs/user_guide/container_patterns.md
  python/dioxide/__init__.py
  python/dioxide/container.py
  python/dioxide/testing.py
Due: pytest-cov

docs: Clarify decorator order is irrelevant (#322)
  docs/guides/decorator-order.md
  python/dioxide/adapter.py
  python/dioxide/lifecycle.py
  tests/test_decorator_order.py
Due: pytest-cov

docs: Clarify global vs instance container usage (#329)
  README.md
  docs/api/dioxide/container/index.rst
  docs/api/dioxide/testing/index.rst
  docs/index.md
  docs/user_guide/container_patterns.md
  python/dioxide/__init__.py
  python/dioxide/container.py
  python/dioxide/testing.py
Due: pytest-cov

test: Add scope tests for @service decorator (#330)
  python/dioxide/services.py
  tests/test_service.py
Due: pytest-cov

docs: Clarify decorator order is irrelevant (#331)
  docs/guides/decorator-order.md
  python/dioxide/adapter.py
  python/dioxide/lifecycle.py
  tests/test_decorator_order.py
Due: pytest-cov

test: Add comprehensive BDD tests for auto-scan feature (#310)
  tests/test_auto_scan.py
Due: pytest-cov
